<main class="center">
  <div class="flex-start">
    <a routerLink="/produtos/criar" class="btn btn-primary btn-sm">Criar novo </a>
  </div>
  <table class="table pequeno-container">
    <thead>
      <tr>
        <th scope=" col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
        <th scope="col">Editar</th>
        <th scope="col">excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtoService.produtos; index as indexOfElement;">
        <th scope="row">{{ indexOfElement + 1 }}</th>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.valor }}</td>
        <td><fa-icon [icon]="faPen" class="color-green" (click)="editar(indexOfElement)"></fa-icon></td>
        <td><fa-icon [icon]="faTrash" class="color-red" (click)="produtoService.excluir(indexOfElement)"></fa-icon></td>
      </tr>
      <tr>
    </tbody>
  </table>
</main>