<main class="center">
  <h1 class="heading">Clientes</h1>
  <div class="flex-start">
    <a routerLink="/clientes/novo" class="btn btn-primary btn-sm">Criar novo </a>
  </div>
  <table class="table pequeno-container">
    <thead>
      <tr>
        <th scope=" col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Cidade</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientesService.clientes; index as indexOfElement;">
        <th scope="row">{{ indexOfElement + 1 }}</th>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.cpf }}</td>
        <td>{{ cliente.cidade.nome }}</td>
        <td><fa-icon [icon]="faPen" class="color-green" (click)="handleEditar(indexOfElement)"></fa-icon></td>
        <td><fa-icon [icon]="faTrash" class="color-red" (click)="handleExcluir(indexOfElement)"></fa-icon></td>
      </tr>
      <tr>
    </tbody>
  </table>
</main>